<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <!-- Product List -->
      <div class="row mt-4">
        {{#each listProduct}}
          <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100 col-12">
              <a href="#"><img
                    height="216rem"
                  class="card-img-top"
                  src="{{this.image}}"
                  alt=""
                /></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#" style="text-decoration: none;color:black">{{this.name}}</a>
                </h4>
                <h5>Giá: {{this.price}} đ</h5>
                <h5>Màu: {{this.color}}</h5>
                <button
                class="btn btn-primary"
                  data-bs-toggle="dropdown"
                >
                  <a style=" text-decoration: none">Quản lý</a>
                </button>
                <ul class="dropdown-menu">
                  <li><a
                      class="dropdown-item"
                      href="/product/edit/{{this.id}}"
                    >Sửa</a></li>
                  <li><a
                      class="dropdown-item"
                      href="/product/delete/{{this.id}}"
                    >Xóa</a></li>
                </ul>
              </div>
            </div>
          </div>
        {{/each}}

      </div>
      <!-- /.row Product List -->

    </div>
    <!-- /.col-lg-9 -->

  </div>
  <!-- /.row -->

</div>